@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans;
}

h1, h2{
    font-family: Fredericka the Great, cursive;
}
/* HEADER STYLES */

header{
    background-image:url(/assets/img/img.jpg);
    BACKGROUND-POSITION: center;
    background-size:cover;
    color: #fff;
}

header h1{
    font-family: Fredericka the Great, cursive;
    padding: 10px 0px 0px 80px;
}

header div{
    width: 280px;
    text-align: center;
    margin: 20vh auto;
}

header div h2{
    margin-bottom: 30px;
}

header div p{
    margin-bottom: 50px;
}

header div a{
    color: #fff;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px 20px; 
}

header div a:hover{
    background-color: white;
    color: black;
}

header ul{
    text-align: right;
    padding: 0px 80px 50px 0px;
}

header ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}


main section{
    width: 400px;
    text-align: center;
    margin: 70px auto;
}

main section h2{
    margin-bottom: 30px;
}

main section div{
    border: 3px double grey;
    width: 150px;
    margin: 50px auto;
    padding: 20px 0px;
}

main section div p{
    margin-bottom: 8px;
}

main section div a{
    text-decoration: none;
    color: black;
}

main section div a:hover{
    text-decoration: underline;
}

footer{
    color: #fff;
    background: #3a3b4a;
}


footer section{
    width: 500px;
    padding: 15px 0px 0px 30px;
}

footer section p{
    margin-bottom:20px;
}

footer section a{
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    text-decoration: none;
}

footer section a:hover{
    color: black;
    background: white;
}

footer nav{
    text-align: right;
    padding: 20px 10px 20px 0px;
}

footer nav span{
    padding-left: 10px;
}

footer nav span:hover{
    text-decoration: underline;
    cursor: pointer;
}